[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
snakeviz = "*"
pytest = "*"
black = "*"
pre-commit = "*"
gprof2dot = "*"

[packages]
pygame = "==2.0.0.dev4"
networkx = "*"
numpy = "*"
flake8 = "*"
dynaconf = "*"
docopt = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
